{% extends 'base.html' %}
<!---->

{% block page_title %} create {% endblock page_title %}

<!---->

{% block contents %}
<h1>Tambah Artikel</h1>

<form action="" method="POST">
  {% csrf_token %}

  <div class="mb-3">
    <label for="{{form.judul.id_for_label}}" class="form-label">{{form.judul.label}}:</label>
    <input type="text" class="form-control" name="{{form.judul.name}}" maxlength="{{form.judul.max}}" required id="{{form.judul.id_for_label}}" />
  </div>

  <div class="mb-3">
    <label for="{{form.isi.id_for_label}}">{{form.isi.label}}:</label>
    <textarea class="form-control" name="{{form.isi.name}}" rows="10" required id="{{form.isi.id_for_label}}"></textarea>
  </div>

  <div class="mb-3">
    <label for="{{form.kategori.id_for_label}}" class="form-label">{{form.kategori.label}}:</label>
    <input type="text" class="form-control" name="{{form.kategori.name}}" maxlength="{{form.kategori.max}}" required id="{{form.judul.id_for_label}}" />
  </div>

  <button type="submit" class="btn btn-primary">Tambah</button>
</form>

{% endblock contents %}
